global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'localcart-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          application: 'localcart'
          environment: 'dev'

  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres:5432']
        labels:
          application: 'postgres'

  - job_name: 'redis-exporter'
    static_configs:
      - targets: ['redis:6379']
        labels:
          application: 'redis'
